@font-face {
    font-family: KalamehWebFaNum;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/KalamehWebFaNum-ExtraLight.woff2') format('woff2'), url('../fonts/KalamehWebFaNum-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: KalamehWebFaNum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/KalamehWebFaNum-Light.woff2') format('woff2'), url('../fonts/KalamehWebFaNum-Light.woff') format('woff');
}

@font-face {
    font-family: KalamehWebFaNum;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/KalamehWebFaNum-Medium.woff2') format('woff2'), url('../fonts/KalamehWebFaNum-Medium.woff') format('woff');
}

@font-face {
    font-family: KalamehWebFaNum;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/KalamehWebFaNum-SemiBold.woff2') format('woff2'), url('../fonts/KalamehWebFaNum-SemiBold.woff') format('woff');
}

@font-face {
    font-family: KalamehWebFaNum;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/KalamehWebFaNum-ExtraBold.woff2') format('woff2'), url('../fonts/KalamehWebFaNum-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: KalamehWebFaNum;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/KalamehWebFaNum-Black.woff2') format('woff2'), url('../fonts/KalamehWebFaNum-Black.woff') format('woff');
}

@font-face {
    font-family: KalamehWebFaNum;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/KalamehWebFaNum-Bold.woff2') format('woff2'), url('../fonts/KalamehWebFaNum-Bold.woff') format('woff');
}

@font-face {
    font-family: KalamehWebFaNum;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/KalamehWebFaNum-Regular.woff2') format('woff2'), url('../fonts/KalamehWebFaNum-Regular.woff') format('woff');
}

* {
    font-family: KalamehWebFaNum;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer[b-9w0scg2e21] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}