@model Tivote.Models.Food.Meal
@{
    SelectListItem[]? categories = ViewData["Categories"] as SelectListItem[];
}
<div class="modal fade" tabindex="-1" role="dialog" id="createMeal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">افزودن غذا</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="btn btn-close btn-danger" aria-hidden="true" />
                </button>
            </div>
            <form asp-action="CreateMeal" enctype="multipart/form-data">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button data-toggle="ajax-modal" data-target="#createMeal" data-url="@Url.Action("CreateMeal")" type="submit" class="btn btn-primary">ذخیره</button>
                        <button data-dismiss="modal" id="cancel" class="btn btn-danger" type="button">انصراف</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }